# ── PostgresDB ────────────────────────────────────────────────────────────────
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=postgres

# ── Redis ─────────────────────────────────────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_MAXMEMORY=128mb

# ── Loki ──────────────────────────────────────────────────────────────────────
LOKI_PORT=3100

# ── Alloy ─────────────────────────────────────────────────────────────────────
ALLOY_PORT=12345

# ── Grafana ───────────────────────────────────────────────────────────────────
GRAFANA_PORT=3000
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=password
